@import url('https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@1,500&display=swap');

*{
  list-style:none;
}
::-webkit-scrollbar {
  display: none;
}
header {
    height: 25vh;
}
 /*=========================== Navbar Setup =================================*/
nav, .offcanvas {
    background-color:#CBAC8D !important;
  }
header.navbar {
      height:8rem ;
  }
header.navbar-toggler {
      border: none;
  }
header.navbar-toggler:focus {
      outline: none;
  }
header .navbar .navbar-nav { 
      padding:2rem 3rem 0 0;
  }
  header .navbar .navbar-brand img  { 
      padding:  10rem 0 3rem 2rem  ;
  } 
  header .navbar .nav-item  .nav-link {
      display: inline-block;
      justify-content: space-between;
      padding: 30px;
      font-size: 20px;
      font-weight: 550;
  }
  @media (min-width:312px) and (max-width:990px){
 header .navbar .navbar-nav { 
      padding:2rem 3rem 4rem 2rem;
    }
   header .navbar .navbar-brand img  { 
      padding:  12rem 2rem 5rem 4rem  ;
    } 
}

/* ===========================   Sort and Filter Button ==================================== */

button i {
  padding-left: 5px;
  /* padding-top: 30px; */
}
button {
    font-style: italic ;
}
.card {
  box-shadow: -14px -13px 29px -5px rgba(255,255,255,0.75);
-webkit-box-shadow: -14px -13px 29px -5px rgba(255,255,255,0.75);
-moz-box-shadow: -14px -13px 29px -5p rgba(255,255,255,0.75);
position: absolute;
transform: translate(-50%, -50%);
top: 50%;
left: 50%;
padding: 12px 10px;
}
.card_load {
  background: linear-gradient( 120deg, #e5e5e5 30%, #f0f0f0 38% ,#f0f0f0 40%,  #e5e5e5 48%);
  position: relative;
  border-radius: 50%;
  background-position: 50% 50%;
}
.card_load .row img{
    position: relative;
    left:22%;
}
.card_load .row p{
  color:#a6947f !important;
    position: relative;
    top:10%;
    right:22%;

}
.card_load .row button {
  position: relative;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  border-radius: 50px;
  background-color: hsl(255, 79%, 79%);
  /* border: solid 4px hsl(183, 69%, 80%); */
  font-family: inherit;
 }
 
 .card_load .row .default-btn,.hover-btn {
  /* background-color: hsl(270, 4%, 10%); */

  align-items: center;
  gap: 15px;
  padding: 10px 15px;
  border-radius: 50px;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all .3s ease;
 }
 
 .card_load .row  .hover-btn {
  position: absolute;
  inset: 0;
  background-color: hsl(296, 66%, 84%);
  transform: translate(0%,100%);
 }
 
 .card_load .row .default-btn span {
  color: hsl(0, 0%, 100%);
 }
 
 .card_load .row .hover-btn span {
  color: hsl(180, 2%, 9%);
 }
 
 .card_load .row button:hover .default-btn {
  transform: translate(0%,-100%);
 }
 
 .card_load .row button:hover .hover-btn {
  transform: translate(0%,0%);
 }


   
  
  