
@import url('https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@1,500&display=swap');

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
} 
::-webkit-scrollbar {
    display: none;
}
header {
    height: 97vh;
    font-family: Arial,sans-serif;
}

/* ------------------ NAVIGATION  ---------------*/
nav, .offcanvas {
  background-color:#CBAC8D !important;
}
 .navbar {
    height:8rem ;
}
.navbar-toggler {
    border: none;
}
.navbar-toggler:focus {
    outline: none;
}
header .navbar .navbar-nav { 
    padding:2rem 3rem 0 0;
}
header .navbar .navbar-brand img  { 
    padding:  10rem 0 3rem 2rem  ;
} 
header .navbar .nav-item  .nav-link {
    display: inline-block;
    justify-content: space-between;
    padding: 30px;
    font-size: 20px;
    font-weight: 550;
}
/* ------------------END OF  NAVIGATION  ---------------*/
.banner {
    height: 30rem ;
}
.carousel-item {
     margin-bottom: 60% !important;
      height:600px;
        
}

/* ----------About section --------------------- */
.about-title h3 {
    font-family:cursive;
    font-weight:300;font-style: italic;
}
.circle {
    width: 500px;
  height: 500px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(213, 210, 210);
  border-radius: 500px;
  cursor: pointer;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
  overflow: hidden;
  }
@media (min-width:300px) and (max-width:990px){

   
}